













.footer {
  display: flex;
  justify-content: center;
  min-height: 350px;
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #1f1f1f;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  width: 228px;
  height: 32px;
}

.footer__author {
  margin: 18px 0 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #f2f2f2;
}

.footer__column_content_info {
  color: #f2f2f2;
}

.footer__column-heading {
  margin: 0;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__column_content_social {
  color: #f2f2f2;
}

.footer__column-link {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #f2f2f2;
  text-decoration: none;
}

.footer__column-social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
